<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.autumn.wishbackstage.mapper.DatabaseMapper">

    <select id="getTableList" resultType="java.lang.String">
        SELECT table_name FROM information_schema.tables
        WHERE table_schema = #{databaseName}
    </select>

    <select id="getTableStruct" resultMap="tableStruct">
        SELECT COLUMN_NAME, IS_NULLABLE, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, COLUMN_COMMENT
        FROM information_schema.COLUMNS WHERE TABLE_SCHEMA = #{databaseName} AND TABLE_NAME = #{tableName}
    </select>

    <update id="createTable" parameterType="java.util.List">
        CREATE TABLE ${tableName} (
            <foreach collection="fields" separator="," item="item">
                `${item.field}` ${item.fieldType} ${item.attribute} COMMENT '${item.comment}'
            </foreach>
            ,PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>

    <delete id="dropTable">
        DROP TABLE ${tableName};
    </delete>

    <resultMap id="tableStruct" type="cn.autumn.wishbackstage.model.db.TableStruct">
        <result column="COLUMN_NAME" jdbcType="VARCHAR" property="COLUMN_NAME"/>
        <result column="IS_NULLABLE" jdbcType="VARCHAR" property="IS_NULLABLE"/>
        <result column="DATA_TYPE" jdbcType="VARCHAR" property="DATA_TYPE"/>
        <result column="CHARACTER_MAXIMUM_LENGTH" jdbcType="VARCHAR" property="CHARACTER_MAXIMUM_LENGTH"/>
        <result column="COLUMN_COMMENT" jdbcType="VARCHAR" property="COLUMN_COMMENT"/>
    </resultMap>

</mapper>